<form action="/urlshortener" method="POST">
  <input type="url" placeholder="input URL here" style="vertical-align: middle;" autofocus required>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>