<h4>Success! Please use this link: </h4>
<div>
  <a href="{{originalURL}}" target="_blank" class="mt-3">{{transformedURL}}</a>
</div>
<div>
  <a href="#" class="btn btn-secondary mt-3">Copy</a>
  <a href="/" class="btn btn-primary mt-3 ml-2">Home</a>
</div>